#mjxgui_editor_window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(240, 240, 240);
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    padding: 20px;
    min-width: 280px;
    max-width: min(600px, 90%);
}

#_mjxgui_tab_container_container {
    display: flex;
    flex-flow: row wrap;
}

.mjxgui_tab_container {
    padding: 5px;
    font-family: monospace;
    font-size: 1.1rem;
    border-radius: 6px;
    background-color: rgb(240, 240, 240);
    transition: background-color ease 0.25s;
    cursor: pointer;
    user-select: none;
    margin: 0 10px;
}

.mjxgui_tab_container:hover {
    background-color: rgb(220, 220, 220);
}

#mjxgui_editor_controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#_mjxgui_editor_display {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 6px;
    overflow-x: auto;
}

.mjxgui_tab {
    padding: 10px;
    margin-top: 10px;
    display: none;
    align-items: stretch;
    flex-flow: row wrap;
}

.mjxgui_tab .mjxgui-btn {
    background-color: rgb(240, 240, 240);
    transition: background-color ease 0.25s;
    cursor: pointer;
    margin: 2px;
    min-width: 25px;
    text-align: center;
}

.mjxgui-btn:hover {
    background-color: rgb(220, 220, 220);
}

.mjxgui_clear_save_buttons, .mjxgui_button_container {
    display: flex;
    flex-flow: row wrap;
    font-family: monospace;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
}

.mjxgui_button_container {
    margin: 0 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 6px;
    transition: background-color ease 0.25s;
    cursor: pointer;
    padding: 5px;
}

.mjxgui_button_container:hover  {
    background-color: rgb(220, 220, 220);
}