:root {
    --primary-light-4: rgb(255, 243, 229);
    --primary-light-3: rgb(255, 220, 184);
    --primary-light-2: rgb(255, 193, 128);
    --primary-light-1: rgb(255, 169, 77);
    --primary-color: rgb(255, 147, 28);
    --primary-dark-1: rgb(224, 116, 0);
    --primary-dark-2: rgb(179, 92, 0);
    --primary-dark-3: rgb(107, 55, 0);
    --primary-dark-4: rgb(51, 26, 0);

    --accent-light-4: rgb(247, 231, 253);
    --accent-light-3: rgb(238, 207, 252);
    --accent-light-2: rgb(222, 160, 248);
    --accent-light-1: rgb(197, 88, 243);
    --accent-color: rgb(181, 44, 240);
    --accent-dark-1: rgb(155, 15, 215);
    --accent-dark-2: rgb(120, 12, 167);
    --accent-dark-3: rgb(72, 7, 100);
    --accent-dark-4: rgb(34, 3, 48);

    --success-light-4: rgb(214, 255, 226);
    --success-light-3: rgb(189, 255, 209);
    --success-light-2: rgb(143, 255, 176);
    --success-light-1: rgb(92, 255, 141);
    --success-green: rgb(55, 255, 115);
    --success-dark-1: rgb(10, 255, 84);
    --success-dark-2: rgb(0, 209, 63);
    --success-dark-3: rgb(0, 77, 23);
    --success-dark-4: rgb(0, 51, 15);

    --error-light-4: rgb(255, 199, 208);
    --error-light-3: rgb(255, 158, 174);
    --error-light-2: rgb(255, 102, 128);
    --error-light-1: rgb(255, 56, 89);
    --error-red: rgb(255, 13, 53);
    --error-dark-1: rgb(219, 0, 37);
    --error-dark-2: rgb(163, 0, 27);
    --error-dark-3: rgb(107, 0, 18);
    --error-dark-4: rgb(46, 0, 8);

    --warning-light-4: rgb(255, 255, 212);
    --warning-light-3: rgb(255, 255, 179);
    --warning-light-2: rgb(255, 255, 135);
    --warning-light-1: rgb(245, 245, 108);
    --warning-yellow: rgb(240, 240, 10);
    --warning-dark-1: rgb(204, 204, 8);
    --warning-dark-2: rgb(179, 179, 7);
    --warning-dark-3: rgb(128, 128, 5);
    --warning-dark-4: rgb(77, 77, 3);

    --monospace-font: 'JetBrains Mono', monospace;
    --paragraph-font: 'Quicksand', sans-serif;
    --heading-bold-font: 'Staatliches', cursive;

    --background: rgb(245, 245, 245);
    --background-dark-1: rgb(230, 230, 230);
    --background-dark-2: rgb(202, 202, 202);
    --background-dark-3: rgb(181, 181, 181);
    --background-dark-4: rgb(143, 143, 143);
    --background-dark-5: rgb(110, 110, 110);

    --default-font-color: black;
}

*, *::before, *::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100);
}

::selection {
    background-color: var(--primary-color);
    color: var(--primary-dark-4);
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--default-font-color);
    font-family: var(--paragraph-font);
}

a {
    color: var(--default-font-color);
    text-decoration: none;
    border-bottom: 2px dotted var(--primary-color);
}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 2px solid black;
    padding: 10px;
}

.under-construction {
    height: 20px;
    width: 100%;
    background: repeating-linear-gradient(
            -45deg,
            var(--warning-yellow),
            var(--warning-yellow) 20px,
            black 20px,
            black 40px
    );
    box-shadow: 0 1px 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 200% 200%;
    animation: barberpole 30s linear infinite;
    animation-play-state: paused;
}

@keyframes barberpole {
    100% {
        background-position: 100% 100%;
    }
}

.under-construction::before {
    content: 'This section is still being written';
    font-family: var(--monospace-font);
    font-weight: 600;
    opacity: 0;
    color: white;
    background-color: black;
    height: 100%;
    padding: 0 10px;
    transition: opacity ease 0.25s;
    text-align: center;
}

@media (max-width: 500px) {
    .under-construction {
        height: 40px;
    }
}

.under-construction:hover {
    animation-play-state: running;
}

.under-construction:hover::before {
    opacity: 1;
}

nav {
    position: sticky;
    top: 0;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: var(--background-dark-1);
}

@media (max-width: 600px) {
    nav {
        position: relative;
    }
}

nav a {
    margin: 0 15px;
}

section {
    max-width: 860px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin: 10px auto;
    padding: 0 30px;
}

section p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}

section ul li {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 10px 0;
}

h1, h2, h3 {
    font-family: var(--heading-bold-font);
    font-weight: 200;
    letter-spacing: 0.3px;
    margin: 0;
}

section h1 {
    padding-top: 60px;
}

section h2 {
    padding-top: 30px;
}

section h3 {
    padding-top: 15px;
}

h1 {
    font-size: 2.7rem;
}

h2 {
    font-size: 2.1rem;
}

h3 {
    font-size: 1.5rem;
}

code {
    font-family: var(--monospace-font);
    padding: 2px 5px;
    border-radius: 6px;
    background-color: var(--background-dark-1);
}

div.code-block {
    display: block;
    padding: 10px;
    background-color: var(--background-dark-1);
    white-space: pre;
    max-width: 100%;
    overflow-x: auto;
    font-family: var(--monospace-font);
}

#api h1, #api h2, #api h3, #api h4, #api h5, #api h6 {
    font-family: var(--monospace-font);
}